<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kure.musicplayer"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light" >
        
       <activity
            android:name=".activities.ActivityMenuMain"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            
            <!-- This is how we know this is the main Activity to
                 start first -->
                 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.ActivityMenuMusic"
            android:label="@string/menu_main_music"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ActivityMenuMain"
            />       
        
        <activity
            android:name=".activities.ActivityMenuSettings"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ActivityMenuMain"
            />
        
        <activity
            android:name=".activities.ActivityMenuArtist"
            android:label="@string/menu_music_artists"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ActivityMenuMusic"            
            />	
            
        <activity
            android:name=".activities.ActivityMenuAlbum"
            android:label="@string/menu_music_albums"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"            
            android:parentActivityName=".activities.ActivityMenuMusic"
            />
        
        <activity
            android:name=".activities.ActivityMenuGenre"
            android:label="@string/menu_music_genres"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"            
            android:parentActivityName=".activities.ActivityMenuMusic"
            />
        
        <activity
            android:name=".activities.ActivityMenuYear"
            android:label="@string/menu_music_years"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"            
            android:parentActivityName=".activities.ActivityMenuMusic"
            />        
        
        <activity
            android:name=".activities.ActivityListSongs"
            android:label="@string/songs"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />      
            
        <activity
            android:name=".activities.ActivityListAlbums"
            android:label="@string/songs"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />      
            
        <activity
            android:name=".activities.ActivityNowPlaying"
            android:label="@string/now_playing"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />              
        
        <service
            android:name=".MusicService"
            />
		
    </application>

</manifest>
